@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

body {
  background: grey;
  font-family: "Roboto Slab", serif;
}

.container {
  padding-top: 5rem;
  width: 1024px;
  margin: 0 auto;
}

.card {
  border-radius: 6px;
  background-color: #fff;
  padding: 1rem;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.2);
}

.btn {
  color: #42b983;
  background: #fff;
  border: 1px solid #42b983;
  text-transform: uppercase;
  padding: 0.5rem 1.5rem;
  font-weight: 700;
  transition: all 0.22s;
  cursor: pointer;
  margin-right: 0.5rem;
  border-radius: 20px;
}

.btn.primary {
  background: #42b983;
  color: #fff;
}

.btn:active {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

.btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

input[type="file"] {
  display: none;
}

.preview {
  display: flex;
  flex-wrap: wrap;
  padding: .5rem;
}

.preview-image {
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}

.preview-image img {
  width: 180px; 
}