@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

body {
  background: grey;
  font-family: "Roboto Slab", serif;
}

.container {
  padding-top: 5rem;
  width: 1024px;
  margin: 0 auto;
}

.card {
  border-radius: 6px;
  background-color: #fff;
  padding: 1rem;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.2);
}
