/**
 * Body CSS
 */

html,
body {
  height: 100%;
}

html,
body,
input,
textarea,
button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

/**
  * Sidebar CSS

  */
#sidebar {
  background-color: #e57373;
  padding: 15px;
}

@media (min-width: 768px) {
  #sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 180px;
    height: 100%;
    padding-top: 30px;
  }
}

/**
  * Content CSS
  */
@media (min-width: 768px) {
  #content {
    margin-left: 180px;
  }
}

.floating-btn {
  position: fixed;
  top: 50px;
  left: 230px;
}

.modalWindow {
  max-width: 615px;
  max-height: 380px;
  margin: 100px auto;
  overflow-y: auto;
  background: #fff;
  border-radius: 10px;
}

.modalWindow h1 {
  text-align: center;
}

.modalWindow .modal-content {
  padding: 1rem;
}

.error {
  color: red;
}

.testInfoDiv {
  color: gray;
  font-size: 13px;
  padding-top: 40px;
  width: 400px;
  margin: auto;
  text-align: center;
}

#authForm legend {
  text-align: center;
  color: #6a737c;
  font-size: 15px;
}

#authTitle {
  text-align: center;
}

.dateOfQuestionSpan{
  color: #6a737c;
  font-size: 13px;
}

.question{
  padding: 10px 0 0 0;
}

.mui-textfield.mui-textfield--float-label.textField {
  width: 400px;
  margin: auto;
}

button#loginBtn {
  float: right;
  margin-bottom: 10px;
}

.stas-textfield-on-main-page{
  width: 800px;
}

.mui-divider-changed-by-stas{
  width: 800px;
}

#listOfQuestions .mui--text-headline{
  font-size: 21px;
}